*{
padding:0;
margin:0;
box-sizing:border-box;

}

#title{
	color:white;
	text-align:center;
}


header{
	display:flex;
	justify-content:space-evenly;
	background-color:#2d5491;
}

header>nav ul{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

#about-content> p{
	margin:20px 0 20px 0;
	max-width:85%;
	
}

#contributions p{
margin:20px 0 20px 0;
	max-width:75%;

}

header ul li{
	padding-top:10px;
	list-style:none;
	margin-left:1rem;
}

header a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
	
}

#more-info a li{
	margin:10px 10px 10px 10px;
	list-style:decimal;
	
	
}




#img-title{
	font-size:30px;
	font-weight:bold;
}


header a:hover{
	background-color:#a1bfc4;
	
}

#img-div{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	margin:2rem auto 2rem auto;
	width:25%;
	
}



#img-caption{
	margin-top:10px;
}

#contributions,#more-info,#about{
	padding-left:20px;

}

.tribute-content{
	background-color:#dcdee7;
}


#contributions ul li{
	margin:20px 0 20px 10px;
	list-style-type:disc;
}



.md-divider{
	border:solid 2px black;
	margin: 0;
 
}

.sml-divider{
	
	border:solid 1px black;
	margin: 0;
}


#img-div>img{
	width:500px;
	max-width:100%;
	height:auto;
	display:block; 
	border-radius:50%;
}

.external-link{
	text-decoration:none;
	font-weight:bold;
	color:black;
}

footer{
	text-align:center;
	background-color:pink;
}

